/* HEADER */

header{
    height: 120px;
    background-color: cornflowerblue;
    background-image: url('img/pattern.png');
    background-position: center;
    background-size: 600px;
    position: relative;

}

#imglogo{
    width: 220px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

/* MAIN */

#h1title{
    margin-bottom: 5px;
}

#spangray{
    color: gray;
    margin: 0%;
}

#pBoolean{
    color: rgb(40, 182, 253);
    margin: 0%;
}

#pgraydata{
    color: gray;
    margin-top: 0%;
    font-size: 13px;
}

.imgtim{
    margin-bottom: 0%;
}

.pfototim{
    font-size: 12px;
    margin: 0%;
}

#importantspan{
    background-color: yellow;
}

    /* TABLE */
table{
    width: 100%;
}

#tr1{
    background-color: rgb(52, 163, 248);
    color: white;
}

.tr2{
    background-color: lightblue;
}

#tdlungo{
    width: 50%;
}


/* FOOTER */



/* ALTRO */