/* HEADER */

header{
    height: 120px;
    background-color: cornflowerblue;
    background-image: url('img/pattern.png');
    background-position: center;
    background-size: 600px;
    position: relative;
}

#imglogo{
    width: 220px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

/* MAIN */



/* FOOTER */



/* ALTRO */