/* HEADER */

header{
    height: 120px;
    background-color: cornflowerblue;
    background-image: url('img/pattern.png');
    background-position: center;
    background-size: 600px;
    position: relative;

}

#imglogo{
    width: 220px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

/* MAIN */

.main-conteiner{
    width: 100%;
}

.conteiner{
    width: 71%;
    height: 30px;
    margin:10px auto;
}

#h1title{
    margin-bottom: 5px;
}

#spangray{
    color: gray;
    margin: 0%;
}

#pBoolean{
    color: rgb(40, 182, 253);
    margin: 0%;
}

#pgraydata{
    color: gray;
    margin-top: 0%;
    font-size: 13px;
}

.imgtim{
    margin-bottom: 0%;
}

.pfototim{
    font-size: 12px;
    margin: 0%;
}

.importantspan{
    background-color: yellow;
}


    /* TABLE */

table{
    width: 100%;
    border-collapse: collapse;
}

#tr1{
    background-color: rgb(52, 163, 248);
    color: white;
}

.tr2{
    background-color: lightblue;
}

#td{
    width: 50%;
}


/* FOOTER */
    #pgray{
        color: gray;
        font-weight: bold;
    }

    .pdiv{
        color: white;
        margin-left: 10px;
        margin-top: 10px;
        font-weight: bold;
    }

    #divfoto1{
        background-image: url(img/monitor.jpg);
        background-size: contain;
        width: 300px;
        height: 200px;
    }

    #divfoto2{
        background-image: url(img/graph.jpg);
        background-size: contain;
        width: 300px;
        height: 200px;
    }